:root {
   --size-5:0.313rem;
   --size-8:0.5rem;
   --size-12:0.75rem;
   --size-16:1rem;
   --size-20:1.25rem;
   --size-34:2.125rem;
}

section,
footer,
main,
nav { display:block; }

*, *::before, *::after { box-sizing:border-box; }

body {
   margin:0;
   font-family: 'Mukta', sans-serif;
   font-size:1rem;
   font-weight:400;
   line-height:1.5;
   text-align:left;
   overflow-x:hidden;
}

a {
   color:var(--color-text);
   text-decoration:none;
}

a, button { background:transparent; }

button { outline: none; }

.container { 
   width:100%;
   padding-left:15px;
   padding-right:15px;
   margin-left:auto;
   margin-right:auto;
   max-width:1140px;
}

ul {
   list-style:none;
   margin:0;
   padding:0;
}

.btn {
   display:inline-flex;
   justify-content:center;
   align-items:center;
}

h1,
h2,
h3,
h4,
p { 
   margin:0;
   padding:0;
}