
.site-wrapper {
   /* max-width:600px; */
}

.site-header {
   text-align:center;
   padding: var(--size-12);
}

.info-section {
   margin-top:20px;
   padding:20px;
}


.info-section-container {
   max-width:1400px;
   margin: 0 auto;
   width:100%;
}

.search-container label {
  display: flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:1rem;
}

.search-container input {
   padding:0.75rem 1.5rem;
   background-color:#f1f3f5;
   border:1px solid #f1f3f5;
   border-radius:50rem;
   width:40%;
   display:block;
}

.search-container input:focus {
   outline:none;
   border-color:#4dabf7;
   box-shadow:inset 0 1px 1px rgba(0,0,0,0.0125), 0 0 8px rgba(34, 139, 230, 0.5);
}

.search-container .fa-search {
   position:absolute;
   right: 10px;
}

.info-filter-nav {
   display:flex;
   padding:0.3rem 0;
   flex-wrap:wrap;
   justify-content:space-between;
}

.info-filter-nav .filter-link:hover {
   cursor:pointer;
   background-color:#f1f3f5;
}

.info-filter-nav .filter-link.active {
   color:#4dabf7;
}

.info-filter-nav .filter-link {
   line-height:1.6;
   font-weight:700;
   letter-spacing:1.63px;
   padding:0.5rem;
   line-height:1.6;
}

.toggle-carousel-container {
   max-width:200px;
   text-align:center;
   margin:0 auto 60px;
}

.toggle-carousel-container .toggle-carousel {
   outline:none;
   margin-top:2rem;
   display:block;
   background-color:red;
   border-radius:10px;
   font-size:0.825rem;
   text-transform:uppercase;
   padding:1rem 0.1rem;
   border:3px solid rgba(0,0,0,1);
   cursor:pointer;
}

.info-card-grid {
   display:flex;
   justify-content:center;
   flex-wrap:wrap;
   position:relative;
   margin-top:50px;
}

.info-card {
   padding:1rem;
   margin:0 0.5rem 1.8rem;
   width:240px;
   transition:0.2s ease-out;
   position:relative;
   bottom:0;
   border: 1px solid rgba(0,0,0,0.1);
   border-radius: var(--size-8);
   box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.2);
   max-height:530px;
   background-color:var(--bg-panel);
}

.info-card:hover {
   bottom:20px;
   cursor:pointer;
}

.info-card .card-title {
   color:var(--color-headings);
   font-weight:700;
   border-bottom: 1px solid var(--color-text-opacity);
}

.img-container {
   padding-bottom:10px;
   max-width:230px;
   margin:0 auto;
}

.img-container img {
   width:100%;
   object-fit:cover;
   object-position:50% 25%;
}

.base-stats-container {
   margin-top:0.5rem;
}

.base-stats-container > div {
   font-size:0.814rem;
   border-bottom:1px dashed rgba(0,0,0,0.8);
   margin-bottom:0.5rem;
   display:flex;
   justify-content:space-between;
}

.base-stat-container > div span {
   display:block;
}

.card-tool-tip {
   background-color:var(--message-display);
   position:absolute;
   height:40px;
   padding: 0 1rem;
   display:flex;
   align-items:center;
   right:0;
   transform:translateX(110%);
   top:40%;
   transition:0.2s;
   opacity:0;
   z-index:1;
}

.card-tool-tip:before {
   content:"";
   position:absolute;
   border:20px solid var(--message-display);
   border-left-color:transparent;
   border-top-color:transparent;
   border-bottom-color:transparent;
   left:0;
   transform:translateX(-100%);
}

.info-card:hover .card-tool-tip {
   transform:translateX(80%);
   opacity:1;
}

.slide-ctrl-container, 
.slide-ctrl-container .btn {
   visibility:hidden;
}

.info-card-container.carousel-mode {
   height:495px;
   margin: 1rem 0 5rem;
}

.info-card-grid .card-title {
   font-size:1.6rem;
}

.info-card-grid.carousel-mode {
   height:487px;
}

.info-card-grid.carousel-mode .info-card {
   opacity:0;
   position:absolute;
   margin:auto 0;
   cursor:default;
}

.info-card-grid.carousel-mode .info-card.active {
   opacity:1;
   border:8px solid #000;
   width:350px;
   box-shadow:0 12px 34px rgba(0,0,0,0.6);
   top:-10%;
   z-index:5;
}

.info-card-grid.carousel-mode .info-card.next {
   transform:translateX(75%);
   opacity:0.25;
}

.info-card-grid.carousel-mode .info-card.previous {
   transform:translateX(-75%);
   opacity:0.25;
}

.info-card-grid.carousel-mode .info-card:hover {
   bottom:0;
}

.info-card-grid.carousel-mode .img-container {
   display:flex;
   justify-content:center;
   max-width:200px;
}

.info-card-grid.carousel-mode img {
   width:80%;
}

.info-card-grid.carousel-mode .base-stats-container > div {
   font-size:1.1rem;
}

.info-card-grid.carousel-mode .info-card.active .card-tool-tip {
   background-color:var(--message-display);
   position:initial;
   transform:translateX(0);
   opacity:1;
   border-radius:5px;
   border:2px solid black;
   display:flex;
   justify-content:center;
}

.info-card-grid.carousel-mode .info-card .card-tool-tip,
.info-card-grid.carousel-mode .card-tool-tip:before {
   display:none;
}

.info-card-grid.carousel-mode .info-card.active .card-tool-tip:hover {
   transform:translateX(0);
   transform:scale(1.2);
   color:#fff;
   border-color:#fff;
   cursor:pointer;
}

.info-card-grid.carousel-mode + .slide-ctrl-container {
   margin-top:40px;
   display:flex;
   justify-content:center;
}

.slide-ctrl-container .btn {
   font-size:var(--size-34);
   border:transparent;
   background:transparent;
   box-shadow:none;
   cursor:pointer;
   color:rgba(0,0,0,1);
   padding:10px 0;
}

.info-card-grid.carousel-mode + .slide-ctrl-container,
.info-card-grid.carousel-mode + .slide-ctrl-container .btn {
   visibility:visible;
}

.info-card-grid.carousel-mode .fa-solid {
   pointer-events:none;
}

.info-card-grid.carousel-mode .btn:hover .fa-solid {
   transition:0.5s;
   transform:scale(1.3);
   cursor:pointer;
   color:rgba(0,0,0,0.5);
}

.info-card-grid.carousel-mode .btn:active .fa-solid {
   color:rgba(0,0,0,1);
   
}