
.site-wrapper {
   /* max-width:600px; */
}

.site-header {
   text-align:center;
   padding: var(--size-12);
}

.info-section {
   margin-top:20px;
   padding:20px;
}


.info-section-container {
   max-width:1400px;
   margin: 0 auto;
   width:100%;
}

.info-filter-nav {
   display:flex;
   padding:0.3rem 0;
   flex-wrap:wrap;
}

.info-filter-nav .filter {
   padding: 0.5rem 1rem;
   border-radius:5px;
}

.info-filter-nav .filter:hover {
   cursor:pointer;
   background-color:#f1f3f5;
}

.info-filter-nav .filter-link.active {
   color:#4dabf7;
}

.info-filter-nav .filter-link {
   line-height:1.6;
   font-weight:700;
   letter-spacing:1.63px;
   padding:0.5rem;
   line-height:1.6;
}

.filter-container {
   max-width:200px;
   text-align:center;
   margin:0 auto 20px;
}

.filter-container .toggle-carousel {
   outline:none;
   margin-top:2rem;
   display:block;
   background-color:red;
   border-radius:10px;
   font-size:0.825rem;
   text-transform:uppercase;
   padding:1rem 0.1rem;
   border:3px solid rgba(0,0,0,1);
   cursor:pointer;
}

.info-card-grid {
   display:flex;
   justify-content:center;
   flex-wrap:wrap;
   position:relative;
   margin-top:20px;
}

.info-card {
   padding:1rem;
   margin:0 0.5rem 1.8rem;
   width:240px;
   transition:0.2s ease-out;
   position:relative;
   bottom:0;
   border: 1px solid rgba(0,0,0,0.1);
   border-radius: var(--size-8);
   box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.2);
   max-height:530px;
   background-color:var(--bg-panel);
}

.info-card:hover {
   bottom:20px;
   cursor:pointer;
}

.info-card .card-title {
   color:var(--color-headings);
   font-weight:700;
   border-bottom: 1px solid var(--color-text-opacity);
}

.img-container {
   padding-bottom:10px;
   max-width:230px;
   margin:0 auto;
}

.img-container img {
   width:100%;
   object-fit:cover;
   object-position:50% 25%;
}

.base-stats-container {
   margin-top:0.5rem;
}

.base-stats-container > div {
   font-size:0.814rem;
   border-bottom:1px dashed rgba(0,0,0,0.8);
   margin-bottom:0.5rem;
   display:flex;
   justify-content:space-between;
}

.base-stat-container > div span {
   display:block;
}

.card-tool-tip {
   background-color:var(--message-display);
   color:var(--color-text);
   position:absolute;
   height:40px;
   padding: 0 1rem;
   display:flex;
   align-items:center;
   right:0;
   transform:translateX(110%);
   top:40%;
   transition:0.2s;
   opacity:0;
   z-index:1;
}

.card-tool-tip:before {
   content:"";
   position:absolute;
   border:20px solid var(--message-display);
   border-left-color:transparent;
   border-top-color:transparent;
   border-bottom-color:transparent;
   left:0;
   transform:translateX(-100%);
}

.info-card:hover .card-tool-tip {
   transform:translateX(80%);
   opacity:1;
}

.info-card-grid .card-title {
   font-size:1.6rem;
}



